.claerfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    max-width: 100%;
    background: url(../img/background.png) no-repeat;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
}


.header {
    padding: 20px 0px 0px;
    background: rgba(0, 0, 0, .35);
    height: 50px;
}

.left-top-logo {
    font-family: "Veranda-Bold", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration-line: none;
    color: #fff;
    margin-left: 81px;
    transition: .5s;
}

.left-top-logo:hover {
    color: #3cb878;
}


.contacts-icon {
    display: inline-block;
    margin: 0px 13px;
    vertical-align: middle;
}

.bg-ic_caledar {
    width: 19px;
    height: 19px;
    background: url('../img/css_sprites.png') -10px -46px;
    transition: .5s;
}

.bg-ic_caledar:hover {
    width: 19px;
    height: 19px;
    background: url('../img/css_sprites-hover.png') -10px -50px;
}

.bg-ic_compass {
    width: 20px;
    height: 20px;
    background: url('../img/css_sprites.png') -10px -125px;
    transition: .5s;
}

.bg-ic_compass:hover{
    width: 20px; height: 20px;
    background: url('../img/css_sprites-hover.png') -58px -10px;
    }

.bg-ic_forum {
    width: 28px;
    height: 20px;
    background: url('../img/css_sprites.png') -10px -165px;
    transition: .5s;
}

.bg-ic_forum:hover {
        width: 28px; height: 20px;
    background: url('../img/css_sprites-hover.png') -10px -10px;
}

.social-button {
    display: inline-block;
    width: 155px;
    font-family: "Veranda", sans-serif;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    text-decoration-line: none;
}

.social-button.facebook {
    background-color: #305db8;
    transition: .5s;
}

.social-button.facebook:hover {
    background-color: #264b96;
}

.social-button.google-plus {
    float: right;
    background-color: #df4a32;
    margin-left: 8px;
    transition: .5s;
}

.social-button.google-plus:hover {
    background-color: #c3412c;
}


.header-text {
    font-family: "Veranda", sans-serif;
    float: right;
    color: #fff;
    margin-right: 75px;
    line-height: 1;
    margin-top: 3px;
}

.green-text {
    color: #327c56;
}

a.green-text {
    text-decoration-line: none;
}

.top-icons {
    display: inline-block;
    float: right;
    vertical-align: middle;
    margin-right: 50px;
}

.sign-up-form {
    width: 444px;
    height: 550px;
    background-color: white;
    margin: 0 auto;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translatex(calc(-50%)) translatey(calc(-50% + 40px));
}

.form-title {
    font-family: "Veranda", sans-serif;
    font-size: 20px;
    color: #505050;
    display: inline-block;
    margin-left: 40px;
}

.green-square {
    display: inline-block;
    margin-top: 30px;
    background-color: #3cb878;
    height: 18px;
    width: 18px;
}

.form-subtitle {
    font-family: "Veranda", sans-serif;
    float: right;
    margin-top: 35px;
    margin-right: 60px;
}

.social-buttons-block {
    margin: 15px 60px 15px 60px;
}

.fa-facebook-f {
    padding: 10px 0px 10px 15px;
    width: 20px;
    height: 20px;
}

.button-name {
    border-left: 2px solid;
    border-color: rgba(0, 0, 0, .3);
    padding-left: 25px;
}

.fa-google-plus-g {
    padding: 10px 10px 10px 15px;
    width: 20px;
    height: 20px;
}



.or {
    color: #cecece;
    font-family: "Veranda", sans-serif;
    text-align: center;
}

.or::before {
    content: "";
    width: 130px;
    border-top: 2px solid;
    border-color: #cecece;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

.or::after {
    content: "";
    width: 130px;
    border-top: 2px solid;
    border-color: #cecece;
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
}

.sign-up-inputs {
    width: 300px;
    margin-top: 15px;
    margin-left: 60px;
    border-radius: 5px;
    border: 2px solid #eaeaea;
    padding: 10px 0px 10px 18px;
    transition: .5s;
}

.sign-up-inputs:focus {
    box-shadow: 0px 5px 5px #dbdbdb;
}

input[type="checkbox"] {
    display: none;
}

label {
    padding-left: 60px;
}

label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #eaeaea;
    border-radius: 3px;
    vertical-align: middle;
    margin-right: 10px;

}

input[type="checkbox"]:checked + label::before {
    background-image: url(../img/checkbox@1X.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.checkbox-text {
    font-family: "Veranda", sans-serif;
}



.checkbox-block {
    margin-top: 15px;
}

.green-button {
    font-family: "Veranda", sans-serif;
    font-size: 16px;
    color: white;
    background-color: #3cb878;
    border: 0px;
    border-radius: 5px;
    padding: 15px 100px;
    margin-left: 60px;
    margin-top: 15px;
    transition: .5s;
}

.green-button:hover {
    background-color: #329a65;
}


