@import url("/css/fonts.css");

body {
    font-family: MyriadProRegular, sans-serif;
}

a {
    text-decoration-line: none;
}

li {
    list-style-type: none;
}

/*убрал отступы от списка которые автоматом стоят после "ul"*/
ul {
    font-size: 0;
    padding: 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

/*logo*/
h1 {
    font-size: 80px;
    color: black;

}

.logo {
    color: black;
    display: inline-block;
}

.blue-text {
    color: #4bcaff;
}

/*menu top*/
.navbar {
    background-color: #35444f;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.navbar-menu-item {
    display: inline-block;
    margin: 26px auto;

}



.navbar-menu-link {
    font-size: 24px;
    color: #fff;
    padding: 26px 41px;
}
.navbar-menu-link:hover{background-color: #222f3a;}
/*main content*/
.main-content {
    max-width: 885px;
    float: right;
    margin: 50px 0px;
}

.img-wrapper {
    border: 1px solid #35444f;
}

.image-animal {
    width: 320px;
    height: auto;
    padding: 75px 0px;
    display: block;
    margin: 0 auto;
}

.image-animal:hover{
    width:400px;
    height: auto;
    padding: 20px;
}

.main-text {
    margin: 30px;
    font-size: 18px;
}

/*sidebar*/
.sidebar-content {
    max-width: 340px;
    margin-top: 50px;
    display: inline-block;
    border: 1px solid;
    border-color: #35444f;
}

.sidebar-menu-link {
    font-size: 30px;
    color: #485863;
}

.sidebar-menu-link:hover{color: black;}
.sidebar-menu-item:hover{
    background-color: #dbdbdb;}

.sidebar-menu-item {
    padding: 30px 60px;
}

/*footer*/

footer {
    clear: both;
    background-color: #b4b7ba;
    margin-top: 50px;
}

.footer-navbar {
    display: inline-block;
}

.footer-navbar-item {
    margin: 20px;
    display: inline-block;
}

.footer-navbar-link,
.copyright {
    font-size: 28px;
    color: #0c1927;
}

.blue-link {
    color: #3181a6;
    text-decoration: underline;
}

.copyright {
    float: right;
    margin: 20px;
}
