/*Сбрасываем отступы браузера*/
*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-Regular.ttf);
}

body {
    font-family: "Roboto", sans-serif;
    width: 1280px;
    margin: auto;
}

ul {
    width: 60%;
    margin: auto;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    width: 150px;
    margin: 32px 0px;
}

nav a {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #16a085;
    text-transform: uppercase;
}

.image {
    height: 790px;
    background-image: url(../img/image.png);
}

.main-text {
    text-align: center;
    background-color: #f5f6f7;
}

h1,
p {
    color: #373737;
}

h1 {
    text-transform: uppercase;
    font-size: 22px;
    padding-top: 59px;
}

p {
    font-size: 16px;
    margin: 34px 100px;

}

button {
    padding: 18px 45px;
    background-color: #16a085;
    border-width: 0px;
    border-radius: 5px;
    margin: 41px 0px 64px 0px;
}

a.button {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: white;

}

footer {
    margin: 47px 0px 45px 0px;
}

footer p {
    font-size: 16px;
    text-align: right;
}
