.container {
    max-width: 1192px;
    padding-top: 24px;
    padding-bottom: 32px;
    margin: 0 auto;
    background-color: #3a4965;
    font-family: 'Arimo', sans-serif;

}

.table {
    margin: 0 auto;
    background-color: #fafafa;
    text-align: center;
}

.row-height {
    height: 70px;
}

.table-data {
    width: 277px;
    border: 2px solid #dadada;
    border-bottom: 0px;
    border-top: 0px;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 16px;
    color: #848484;

}

.first-col {
    width: 310px;
}

.dark-gray {
    background-color: #e3e3e3;
}

.light-gray {
    background-color: #f2f2f2;
}

.green-data {
    height: 70px;
    color: white;
    font-size: 24px;
    background-color: #89c331;
    border: 0px solid;
}

.red-data {
    height: 70px;
    color: white;
    font-size: 24px;
    background-color: #f04a56;
    border: 0px solid;
}

.blue-data {
    height: 70px;
    color: white;
    font-size: 24px;
    background-color: #207e7b;
    border: 0px solid;
}

.choose {
    color: #484848;
    font-size: 18px;
    font-weight: 700;
}

.pricing-plan {
    color: #484848;
    font-size: 30px;
    font-weight: 700;
}

.price {
    color: #484848;
    font-size: 60px;
    font-weight: 700;
    position: relative;
}

.price::before {
    content: "\0024";
}

.price::after {
    content: ".99";
    font-size: 24px;
    position: absolute;
    top: 10px;
    left: 102px;
}

.fas {
    margin-right: 12px;
}

.button {
    display: inline-block;
    width: 192px;
    font-weight: 700;
    font-size: 16px;
    padding: 19px 0px 10px;
    color: white;
    text-decoration-line: none;
    border: 7px solid rgba(0, 0, 0, 0.3);
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-radius: 5px;
    margin: 0 auto;
/*    -------------------------------hover*/
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    
}

.button:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.black-btn {
    background-color: #484848;
}

.green-btn {
    background-color: #89c331;
}

.red-btn {
    background-color: #f04a56;
}

.blue-btn {
    background-color: #207e7b;
}

.last-row {
    height: 110px;
}

.price-item {
    height: 86px;
}


