.container {
    max-width: 1366px;
    margin: 0 auto;
    background-image: url(../img/background@1X.png);
}

.header,
.gallery {
    max-width: 1102px;
    margin: 0 auto;
    padding-top: 50px;
}

/*
.img-bg-color {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background@1X.png);
    background-size: cover;
    background-repeat: no-repeat;
}
*/

.drk-filter {
    background-color: rgba(0, 0, 0, 0.5);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;

}

/*----------ЛОГОТИП----------*/
.logo {
    font-family: "Veranda", sans-serif;
    font-size: 29px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 165px;
    position: relative;
    margin-left: 30px;
}

.logo:hover {
    color: #f26522;
}

.logo:hover .logo-img {
    content: url("../img/logo@1X-orange.png");
}

.logo-text {
    position: absolute;
    margin-left: 60px;
    float: left;
    font-size: 29px;
    font-weight: 700;
    line-height: 0.8;
}

.logo-text-span {
    font-size: 18px;
}

.logo-img {
    float: left;
}

.contacts {
    font-size: 18px;
    color: #fff;
    font-family: "Veranda", sans-serif;
    display: inline-block;
    float: right;
    width: 250px;
    line-height: 1.3;
    margin-right: 30px;
}

.contacts-email {
    float: right;
}

.contacts-phone {
    float: right;
}

.offer-item {
    float: left;
    display: inline-block;
    margin: 0px 30px;
}

.offer-item-wpapper {
    position: relative; }

.offer-details {
    color: #fff;
    background-color: #f26522;
    height: 63px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;

}

.offer-item-wpapper:hover .offer-details{display: block;}


.offer-price-wrapper {
    font-family: "Veranda", sans-serif;
    font-size: 10px;
    margin-top: 15px;
    margin-left: 21px;
    max-width: 38px;
    display: inline-block;
    
}

.offer-price-number {
    font-family: "Veranda", sans-serif;
    font-size: 20px;
    width: 38px;
}

.offer-price-number::before {
    content: "\20AC";
}

.offer-text {
    float: right;
    font-family: "Veranda", sans-serif;
    margin-top: 26px;
}

.offer-text::after {
    content: url("../img/Arrow.png");
    margin: 0px 15px;
}

.offer-item-link {
    display: block;
    text-align: center;
    color: #fff;
    text-decoration-line: none;
    font-family: "Veranda", sans-serif;
    margin: 20px 0 50px;
}

.offer-item-link:hover {
    color: #f26522;
}



.copyright {
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-family: "Veranda", sans-serif;
    margin: 60px 0px 20px;
}
